<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>顾问中心-网站</title>
    <link rel="stylesheet" type="text/css" href="../../../css/common.css">
    <script src="../../../js/lab/jquery-1.8.3.min.js"></script>
    <!--引入编辑器 start-->
    <script src="../../../js/umediter/umeditor.config.js"></script>
    <script src="../../../js/umediter/umeditor.min.js"></script>
    <script src="../../../js/umediter/lang/zh-cn/zh-cn.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../js/umediter/themes/default/css/umeditor.min.css">
    <!--引入编辑器 end-->
    <script src="../../../js/common.js"></script>

</head>

<body class="bg-fa">
<!--头部-->
<div id="header">
    <!--顶部栏-->
    <div class="top-bar com-width mao fix">
        <div class="left-area sns fl">
            关注我们
            <a href="" class="weibo dib vm mr10 ml10"></a>
            <a href="" class="weixin dib vm"></a>
        </div>
        <div class="right-area fr">
            <!--非登录-->
            <a href="" title="" class="dib">立即注册</a> |
            <a href="" title="" class="dib">登录</a>
            <!--登录-->
            <span class="dib">欢迎您：你妹啊</span> |
            <a href="" title="" class="dib mr35">进入个人中心</a>
            <a href="" title="" class="dib exit c-14">退出</a>
        </div>
    </div>
    <!--导航-->
    <div class="nav-outer w100">
        <div class="nav-box com-width mao fix">
            <a class="logo dib fl" href="http://www.chuguofeng.com"><img class="vm" src="../../../images/logo_w.png" alt="出国风"></a>

            <ul class="nav fix fl ml70">
                <li><a href="" title="">首页</a></li>
                <li><a href="" title="">精品项目</a></li>
                <li><a href="" title="">移民公司</a></li>
                <li><a href="" title="">移民招投标</a></li>
                <li><a href="" title="">活动展会</a></li>
            </ul>
            <div class="fr rel">
                <input class="search bgw" type="text" id="" value="" placeholder="搜索">
                <i class="search-icon abs"></i>
            </div>
        </div>
    </div>
</div>

<!--主体-->
<div id="wrap" class="fix com-width mao">
    <div class="cus-center rel fl mt20 w70 bg-w shadow">
        <div style="background-color: #861EE5;" class="tc h150">

        </div>
        <div class="tc" style="margin-top: -70px">
            <img class="border3" src="../../../images/素材/cus-center_headicon.png"/>

            <p class="f20 b mt10">张先生</p>
        </div>
        <div class="tc mt20">
            <span class="b">联系地址：</span>江苏省南京市 <span class="b ml70">意向国家：</span>美国
            <br/>
            <span class="b">&nbsp;意向类型：</span>投资移民、置业移民、雇主移民、技术移民
        </div>
        <div class="mt30 tc f18">
            <span class="c-a7 mr20">———————————</span>&nbsp;&nbsp; 关心的问题
            &nbsp;&nbsp;<span class="c-a7 ml20">———————————</span>
        </div>
        <div class="mt30 tc care-issue">
            <span class="btn-white-small">成功率</span>
            <span class="btn-white-small">办理时间</span>
            <span class="btn-white-small">办理费用</span>
            <span class="btn-white-small">福利待遇</span>
            <span class="btn-white-small">是否有移民监</span>
        </div>
        <div class="mt30 tc care-issue">
            <span class="btn-white-small">当地物价及消费水品</span>
            <span class="btn-white-small">当地物价及消费水品</span>
        </div>
        <div style="margin-top: -50px">
            <img class="fl" src="../../../images/素材/cus-center_left.png"/>
            <img class="fr" src="../../../images/素材/cus-center_right.png"/>
        </div>

        <div class="bb20 mt80 ml20 mr20">

        </div>

        <!--选项卡-->
        <div class="list mt30" id="user-center">
            <ul class="tab fix">
                <li class="fl cup rel tab-selected"><i class="tab-arr abs dn"></i>需求详情</li>
                <li class="fl cup rel"><i class="tab-arr abs dn"></i>报价列表</li>
            </ul>

            <!--需求详情-->
            <div class="tab-box tc">
                <table class="table">
                    <tr class="bo-top">
                        <td class="w25 p20 bg-fa">姓名</td>
                        <td class="w25 p20">张先生</td>
                        <td class="w25 p20 bg-fa">性别</td>
                        <td class="w25 p20">男</td>
                    </tr>
                    <tr>
                        <td class="w25 p20 bg-fa">年龄</td>
                        <td class="w25 p20">27</td>
                        <td class="w25 p20 bg-fa">最高学历</td>
                        <td class="w25 p20">博士</td>
                    </tr>
                    <tr>
                        <td class="w25 p20 bg-fa">外语水平</td>
                        <td class="w25 p20">英语 <span class="cup c-2e">一般</span>/托福分数<span class="cup c-2e">120</span>分
                            <br/>
                            雅思成绩<span class="cup c-2e">5</span>分/德语<span class="cup c-2e">精通</span>
                        </td>
                        <td class="w25 p20 bg-fa">家庭资产</td>
                        <td class="w25 p20">200亿</td>
                    </tr>
                    <tr>
                        <td class="w25 p20 bg-fa">身份</td>
                        <td class="w25 p20">企业或股东</td>
                        <td class="w25 p20 bg-fa">公司类型</td>
                        <td class="w25 p20">国企</td>
                    </tr>
                    <tr>
                        <td class="w25 p20 bg-fa">融资</td>
                        <td class="w25 p20">10000万</td>
                        <td class="w25 p20 bg-fa">员工人数</td>
                        <td class="w25 p20">50-150人</td>
                    </tr>
                    <tr>
                        <td class="w25 p20 bg-fa">持股比例</td>
                        <td class="w25 p20">50%</td>
                        <td class="w25 p20 bg-fa">职位</td>
                        <td class="w25 p20">总经理</td>
                    </tr>
                    <tr>
                        <td class="w25 p20 bg-fa">管理经验</td>
                        <td class="w25 p20">非常丰富</td>
                        <td class="w25 p20 bg-fa">年收入</td>
                        <td class="w25 p20">1000000万</td>
                    </tr>
                    <tr>
                        <td class="w25 p20">备注:</td>
                        <td class="w25 p20 blnone"></td>
                        <td class="w25 p20 blnone"></td>
                        <td class="w25 p20 blnone"></td>
                    </tr>
                </table>
            </div>

            <!--报价列表-->
            <div class="tab-box tc dn">
                报价列表
            </div>
        </div>
    </div>
    <div class="service-card fr rel mt20 w25">
        <div>
            <div class="bg-2e c-w p10">
                服务报价
            </div>
            <div class="bg-w p20">
                <span>指导价&nbsp;&nbsp;  |</span><span class="fr c-f5 f20">￥500-800万</span>
            </div>
        </div>
        <div class="mt20 ">
            <div class="bg-2e c-w p10">
                自我推介
            </div>
            <textarea class="w100" style="border: none" name="recommend" cols="30" rows="10" placeholder="报价内含服务内容，及您的优势，100字以内。">



            </textarea>

            <div class="mt20">
                <span class="btnm">提交</span>
            </div>
        </div>
    </div>
</div>
<!--脚部-->
<div id="footer" class="mt30">
    <div class="footer-outer w100">
        <div class="footer-box com-width mao fix">
            <img class="footer-logo fl" src="../../../images/site_logo.png" alt="出国风">

            <div class="about-us fl fix">
                <ul class="fl mr35">
                    <li class="tit bo-line b">出国风特色</li>
                    <li><a href="" class="">产品与服务</a></li>
                </ul>
                <ul class="fl mr35">
                    <li class="tit bo-line b">帮助中心</li>
                    <li><a href="" class="">找回密码</a></li>
                    <li><a href="" class="">新手教程</a></li>
                    <li><a href="" class="">友情链接</a></li>
                </ul>
                <ul class="fl mr35">
                    <li class="tit bo-line b">关于我们</li>
                    <li><a href="" class="">出国风简介</a></li>
                    <li><a href="" class="">联系我们</a></li>
                    <li><a href="" class="">企业文化</a></li>
                    <li><a href="" class="">人才招聘</a></li>
                </ul>
                <ul class="fl mr35">
                    <li class="tit bo-line b">常见问题</li>
                    <li><a href="" class="">公司注册</a></li>
                    <li><a href="" class="">一键匹配</a></li>
                    <li><a href="" class="">点评报告</a></li>
                </ul>
                <ul class="fl service">
                    <li class="tit bo-line b">客服热线（工作时间 8:00 - 22:00）</li>
                    <li class="tel b">400&nbsp;&nbsp;9677&nbsp;&nbsp;360</li>
                    <li class="b">客服邮箱<a href="" class="b">KF@chuguofeng.com</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright tc com-width mao">
            Copyright 2014 www.chuguofeng.com All Rights Reserved <a href="http://www.miibeian.gov.cn/" target="_blank">粤ICP备14095256号</a>
            版权所有 深圳深海投网络科技有限公司
        </div>
    </div>
</div>

<script>
    $(function () {
        tabSwitch(".tab li", "tab-selected", ".tab-box");

        $(".table tr").hover(function () {

            if ($(this).index() != 0) {
                $(this).animate({background: '#000'}, 300);
            }
        }, function () {
            $(this).animate({background: '#fff'}, 300);
        });
    });

    $(function () {
        $(".care-issue span").click(function () {
            if ($(this).attr("class").length === 14) {
                $(this).removeClass("btn-blue-small");
                $(this).addClass("btn-white-small");
            } else {
                $(this).removeClass("btn-white-small");
                $(this).addClass("btn-blue-small");
            }
        });
    })
</script>
</body>
</html>