<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>头部尾部</title>
<link rel="stylesheet" type="text/css" href="../../../css/common.css">
<script src="../../../js/lab/jquery-1.8.3.min.js"></script>
<script src="../../../js/common.js"></script>
</head>

<body class="bg-fa">
    
    <!--头部 start-->
    <div id="header">
        <!--顶部栏-->
        <div class="top-bar com-width mao fix">
            <div class="left-area sns fl">
                关注我们
                <a href="" class="weibo dib vm mr10 ml10"></a>
                <a href="" class="weixin dib vm"></a>
            </div>
            <div class="right-area fr">
                <!--非登录-->
                <a href="" title="" class="dib">立即注册</a> |
                <a href="" title="" class="dib">登录</a>
                <!--登录-->
                <span class="dib">欢迎您：你妹啊</span> |
                <a href="" title="" class="dib mr35">进入个人中心</a>
                <a href="" title="" class="dib exit c-14">退出</a>
            </div>
        </div>
        <!--导航-->
        <div class="nav-outer w100">
            <div class="nav-box com-width mao fix">
                <a class="logo dib fl" href="http://www.chuguofeng.com"><img class="vm" src="../../../images/logo_w.png" alt="出国风"></a>
                <ul class="nav fix fl ml70">
                    <li><a href="" title="">首页</a></li>
                    <li><a href="" title="">精品项目</a></li>
                    <li><a href="" title="">移民公司</a></li>
                    <li><a href="" title="">移民招投标</a></li>
                    <li><a href="" title="">活动展会</a></li>
                </ul>
                <div class="fr rel">
                    <input class="search bgw" type="text" id="" value="" placeholder="搜索">
                    <i class="search-icon abs"></i>
                </div>
            </div>
        </div>
    </div>
    <!--头部 end-->

    
    <!--small 脚部 start-->
    <div id="small-footer" class="com-width mao tc mt30">
        <div class="link">
            <a href="" title="">关于我们</a>|
            <a href="" title="">出国风简介</a>|
            <a href="" title="">联系我们</a>|
            <a href="" title="">企业文化</a>|
            <a href="" title="">人才招聘</a>|
            <a href="" title="">产品与服务</a>|
            <a href="" title="">网站地图</a>
        </div>
        <div class="copyright">Copyright 2015 深圳深海投网络科技有限公司 </div>
    </div>
    <!--small 脚部 end-->
    
    
    <!--脚部 start-->
    <div id="footer" class="mt30">
        <div class="footer-outer w100">
            <div class="footer-box com-width mao fix">
                <img class="footer-logo fl" src="../../../images/site_logo.png" alt="出国风">
                <div class="about-us fl fix">
                    <ul class="fl mr35">
                        <li class="tit bo-line b">出国风特色</li>
                        <li><a href="" class="">产品与服务</a></li>
                    </ul>
                    <ul class="fl mr35">
                        <li class="tit bo-line b">帮助中心</li>
                        <li><a href="" class="">找回密码</a></li>
                        <li><a href="" class="">新手教程</a></li>
                        <li><a href="" class="">友情链接</a></li>
                    </ul>
                    <ul class="fl mr35">
                        <li class="tit bo-line b">关于我们</li>
                        <li><a href="" class="">出国风简介</a></li>
                        <li><a href="" class="">联系我们</a></li>
                        <li><a href="" class="">企业文化</a></li>
                        <li><a href="" class="">人才招聘</a></li>
                    </ul>
                    <ul class="fl mr35">
                        <li class="tit bo-line b">常见问题</li>
                        <li><a href="" class="">公司注册</a></li>
                        <li><a href="" class="">一键匹配</a></li>
                        <li><a href="" class="">点评报告</a></li>
                    </ul>
                    <ul class="fl service">
                        <li class="tit bo-line b">客服热线（工作时间 8:00 - 22:00）</li>
                        <li class="tel b">400&nbsp;&nbsp;9677&nbsp;&nbsp;360</li>
                        <li class="b">客服邮箱<a href="" class="b">KF@chuguofeng.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="copyright tc com-width mao">
                        Copyright 2014 www.chuguofeng.com All Rights Reserved <a href="http://www.miibeian.gov.cn/" target="_blank">粤ICP备14095256号</a> 版权所有 深圳深海投网络科技有限公司 
            </div>
        </div>
    </div>
    <!--脚部 end-->
    
    <script>
        $(function(){

        });
    </script>
</body>
</html>