<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>个人中心-合作-留学</title>
<link rel="stylesheet" type="text/css" href="../../../css/common.css">
<script src="../../../js/lab/jquery-1.8.3.min.js"></script>
<!--引入编辑器 start-->
<!--<script src="../../../js/umediter/umeditor.config.js"></script>
<script src="../../../js/umediter/umeditor.min.js"></script>
<script src="../../../js/umediter/lang/zh-cn/zh-cn.js" ></script>
<link rel="stylesheet" type="text/css" href="../../../js/umediter/themes/default/css/umeditor.min.css">-->
<!--引入编辑器 end-->
<script src="../../../js/common.js"></script>
<script src="../../../js/cooperation.js"></script>
    
</head>

<body class="bg-fa">
    <!--头部-->
    <div id="header">
        <!--顶部栏-->
        <div class="top-bar com-width mao fix">
            <div class="left-area sns fl">
                关注我们
                <a href="" class="weibo dib vm mr10 ml10"></a>
                <a href="" class="weixin dib vm"></a>
            </div>
            <div class="right-area fr">
                <!--非登录-->
                <a href="" title="" class="dib">立即注册</a> |
                <a href="" title="" class="dib">登录</a>
                <!--登录-->
                <span class="dib">欢迎您：你妹啊</span> |
                <a href="" title="" class="dib mr35">进入个人中心</a>
                <a href="" title="" class="dib exit c-14">退出</a>
            </div>
        </div>
        <!--导航-->
        <div class="nav-outer w100">
            <div class="nav-box com-width mao fix">
                <a class="logo dib fl" href="http://www.chuguofeng.com"><img class="vm" src="../../../images/logo_w.png" alt="出国风"></a>
                <ul class="nav fix fl ml70">
                    <li><a href="" title="">首页</a></li>
                    <li><a href="" title="">精品项目</a></li>
                    <li><a href="" title="">移民公司</a></li>
                    <li><a href="" title="">移民招投标</a></li>
                    <li><a href="" title="">活动展会</a></li>
                </ul>
                <div class="fr rel">
                    <input class="search bgw" type="text" id="" value="" placeholder="搜索">
                    <i class="search-icon abs"></i>
                </div>
            </div>
        </div>
    </div>
    
    <!--主体-->
    <div id="wrap" class="fix com-width mao">
        <!--左边栏-->
        <div class="left-bar mt40 fl">
            <div class="user-info block tc ">
                <div class="head-pic mao">
                    <img src="../../../images/head_pic.png" alt="">
                </div>
                <p class="lh20 mt20">HI 早上好</p>
                <p class="lh20">15800005555</p>
                <div class="user-state mt10">
                    <!--电话验证-->
                    <i class="dib phone-check"></i>
                    <!--邮箱验证-->
                    <i class="dib mail-check"></i>
                    <!--设置-->
                    <i class="dib setup"></i>
                </div>
            </div>
            <ul class="main-nav block mt10">
                <li class="rel">
                    <div class="r-arr"><i></i></div>
                    <a href="javascript:void(0);" class="nav-tit b bo-line">个人信息</a>
                    <ul>
                        <li class=""><a href="" class="selected">账号资料</a></li>
                        <li class="bo-line"><a href="">业务资料</a></li>
                    </ul>
                </li>
                <li class="rel">
                    <div class="r-arr"><i></i></div>
                    <a href="javascript:void(0);" class="nav-tit b bo-line">消息中心</a>
                    <ul>
                        <li><a href="">会话</a></li>
                        <li><a href="">报名的活动</a></li>
                        <li class="bo-line"><a href="">顾问列表</a></li>
                    </ul>
                </li>
                <li class="rel">
                    <div class="r-arr"><i></i></div>
                    <a href="" class="nav-tit b bo-line">我的招标</a>
                </li>
                <li class="rel">
                    <div class="r-arr"><i></i></div>
                    <a href="javascript:void(0);" class="nav-tit b">我的收藏</a>
                    <ul>
                        <li><a href="">所有收藏</a></li>
                        <li><a href="">移民</a></li>
                        <li><a href="">海外房产</a></li>
                        <li class="bo-line"><a href="">活动</a></li>
                    </ul>
                </li>
                <li class="rel">
                    <i class="r-arr"></i>
                    <a href="" class="nav-tit b">我的合作</a>
                </li>
            </ul>
        </div>
        
        <!--中间栏 特殊页面，采用两栏布局-->
        <div class="special-main-bar mt40 ml20 fl" id="study-abroad">
            
            <!--合作开始-->
            <div class="block cooperation">
                
                <!--进度条 statr class为"progress-bar"-->
                <div class="rel">
                    <div class="bo-line fix">
                        <span>已完成</span>
                        <span>未完成</span>
                        <a href="" class="dib fr">返回我的合作</a>
                    </div>
                    <div class="cooperation-bar rel fix">
                        <!--介绍专业信息-->
                        <div class="major fl">
                            <p>利兹大学等8所学校</p>
                            <p>专业：Economics and Finance</p>
                            <p>经济学和金融</p>
                        </div>
                        <!--合作步骤-->
                        <ul class="cooperation-step fl fix">
                            <li class="done">
                                <i></i>
                                <div class="txt">完善成绩资料</div>
                            </li>
                            <li class="">
                                <i></i>
                                <div class="txt in-top">上传留学资料</div>
                            </li>
                            <li class="">
                                <i></i>
                                <div class="txt">材料审核</div>
                            </li>
                            <li class="">
                                <i></i>
                                <div class="txt in-top">免费修改</div>
                            </li>
                            <li class="">
                                <i></i>
                                <div class="txt">后续处理</div>
                            </li>
                            <li class="">
                                <i></i>
                                <div class="txt in-top">录取结果</div>
                            </li>
                            <li class="">
                                <i></i>
                                <div class="txt">Refuse</div>
                            </li>
                            <!--<li class="last-step">
                                <i></i>
                                <div class="txt">Offer</div>
                            </li>-->
                        </ul>
                    </div>
                    <!--进度条显示备选学校列表-->
                    <div class="btn-show-list">展开所有学校</div>
                    <ul class="show-list dn">
                        <li><a href="" class="">学校1</a></li>
                        <li><a href="" class="">学校2</a></li>
                        <li><a href="" class="">学校3</a></li>
                        <li><a href="" class="">学校4</a></li>
                        <li><a href="" class="">学校5</a></li>
                        <li><a href="" class="">学校6</a></li>
                        <li><a href="" class="">学校7</a></li>
                        <li><a href="" class="">学校8</a></li>
                    </ul>
                </div>
                <!--进度条 end-->
                
                <!--提示信息，warn类是警告信息  success是成功信息-->
                <div class="tips-box warn mt20">
                    用户张三已发起申请，电话是：13802566666，请尽快处理
                </div>
                <div class="tips-box success mt20">
                    用户张三已发起申请，电话是：13802566666，请尽快处理
                </div>
                <!--提示信息 end -->
                
                
                <!--用户上传文件 start-->
                <div class="user-audit mt20">
                    <h1>留学-用户上传资料</h1>
                    <form name="" action="" method="post" id="upload-file">
                        <table class="table f12">
                            <tr>
                                <th class="bg-2e c-w" style="width:20%;">材料名</th>
                                <th class="bg-2e c-w" style="width:25%;">材料说明</th>
                                <th class="bg-2e c-w" style="width:15%;">提交类型</th>
                                <th class="bg-2e c-w" style="width:15%;">上传时间</th>
                                <th class="bg-2e c-w" style="width:;">操作</th>
                            </tr>
                            <tr>
                                <td>这是材料名称</td>
                                <td><div class="ell doc-instructions">这是材料说明说明说明</div></td>
                                <td>
                                    <label class="mr10"><input class="vm" type="radio" name="" value="1" checked="checked">线上</label>
                                    <label><input class="vm" type="radio" name="" value="0">线下</label>
                                </td>
                                <td>2015-5-11 11:45</td>
                                <td class="act">
                                    <a href="" class="upload-file">上传</a>
                                    <input type="hidden" class="is-upload" value="1">
                                </td>
                            </tr>
                            <tr>
                                <td>这是材料名称</td>
                                <td><div class="ell doc-instructions">这是材料说明说明说明</div></td>
                                <td>
                                    <label class="mr10"><input class="vm" type="radio" name="" value="1" checked="checked">线上</label>
                                    <label><input class="vm" type="radio" name="" value="0">线下</label>
                                </td>
                                <td>2015-5-11 11:45</td>
                                <td class="act">    
                                    <a href="" class="upload-file">上传</a>
                                    <input type="hidden" class="is-upload" value="">
                                </td>
                            </tr>
                            <tr>
                                <td>这是材料名称</td>
                                <td><div class="ell doc-instructions">这是材料说明说明说明</div></td>
                                <td>
                                    <label class="mr10"><input type="radio" name="" value="1" checked="checked">线上</label>
                                    <label><input type="radio" name="" value="0">线下</label>
                                </td>
                                <td>2015-5-11 11:45</td>
                                <td class="act">
                                    <a href="" class="upload-file">上传</a>
                                    <input type="hidden" class="is-upload" value="">
                                </td>
                            </tr>
                        </table>
                        <input type="submit" class="save-btn tc cup db mao mt10" value="保存" id="save-my-file">
                    </form>
                </div>
                <!--用户上传文件 end-->
                
                
                <!--用户最终审核 start-->
                <div class="">
                    <h1>留学-用户最终审核</h1>
                    <table class="table f12">
                        <tr>
                            <th class="bg-2e c-w" style="width:25%;">最终材料</th>
                            <th class="bg-2e c-w" style="width:25%;">顾问上传时间</th>
                            <th class="bg-2e c-w" style="width:25%;">审核状态</th>
                            <th class="bg-2e c-w" style="">审核操作</th>
                        </tr>
                        <tr>
                            <td>这是材料名称</td>
                            <td>2015-5-11 11:45</td>
                            <td><span class="c-57">已通过</span><span class="c-ef">否决</span></td>
                            <td class="act">
                                <a href="" class="pass">通过</a>
                                <a href="" class="veto">否决</a>
                            </td>
                        </tr>
                    </table>
                </div> 
                <!--用户最终审核 end-->
                
                
                <!--合作--审核材料 start-->
                <div class="mt20">
                    <h1>合作--审核材料</h1>
                    <table class="table f12">
                        <tr>
                            <th class="bg-2e c-w" style="width:20%;">材料名</th>
                            <th class="bg-2e c-w" style="width:25%;">材料说明</th>
                            <th class="bg-2e c-w" style="width:12%;">提交类型</th>
                            <th class="bg-2e c-w" style="width:12%;">上传时间</th>
                            <th class="bg-2e c-w" style="width:10%;">审核状态</th>
                            <th class="bg-2e c-w" style="width:;">审核</th>
                        </tr>
                        <tr>
                            <td>这是材料名称</td>
                            <td><div class="ell doc-instructions">这是材料说明说明说明</div></td>
                            <td>
                                <label class="mr10"><input type="radio" name="type" value="1" checked="checked">线上</label>
                                <label><input type="radio" name="type" value="0">线下</label>
                            </td>
                            <td>2015-5-11 11:45</td>
                            <td><span class="">待审核</span><span class="c-57">通过</span><span class="c-ef">被否决</span></td>
                            <td class="act">
                                <a href="" class="upload-file">上传</a>
                            </td>
                        </tr>
                        <tr class="new-tr">
                            <td><textarea name="" placeholder="" style="width: 160px;"></textarea></td>
                            <td><textarea name="" placeholder="" style="width: 210px;"></textarea></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="act"></td>
                        </tr>
                    </table>
                    <!--增加一项按钮-->
                    <div class="btn-add cup mao mt10"><i class="ml10 dib mr10"></i>增加一项</div> 
                </div>
                <!--合作--审核材料 end-->
                
                
                </div>
                <!--合作流程 end-->
            
            </div>
            <!--中间栏结束-->
        </div>

    </div>
    
    <!--脚部-->
    <div id="footer" class="mt30">
        <div class="footer-outer w100">
            <div class="footer-box com-width mao fix">
                <img class="footer-logo fl" src="../../../images/site_logo.png" alt="出国风">
                <div class="about-us fl fix">
                    <ul class="fl mr35">
                        <li class="tit bo-line b">出国风特色</li>
                        <li><a href="" class="">产品与服务</a></li>
                    </ul>
                    <ul class="fl mr35">
                        <li class="tit bo-line b">帮助中心</li>
                        <li><a href="" class="">找回密码</a></li>
                        <li><a href="" class="">新手教程</a></li>
                        <li><a href="" class="">友情链接</a></li>
                    </ul>
                    <ul class="fl mr35">
                        <li class="tit bo-line b">关于我们</li>
                        <li><a href="" class="">出国风简介</a></li>
                        <li><a href="" class="">联系我们</a></li>
                        <li><a href="" class="">企业文化</a></li>
                        <li><a href="" class="">人才招聘</a></li>
                    </ul>
                    <ul class="fl mr35">
                        <li class="tit bo-line b">常见问题</li>
                        <li><a href="" class="">公司注册</a></li>
                        <li><a href="" class="">一键匹配</a></li>
                        <li><a href="" class="">点评报告</a></li>
                    </ul>
                    <ul class="fl service">
                        <li class="tit bo-line b">客服热线（工作时间 8:00 - 22:00）</li>
                        <li class="tel b">400&nbsp;&nbsp;9677&nbsp;&nbsp;360</li>
                        <li class="b">客服邮箱<a href="" class="b">KF@chuguofeng.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="copyright tc com-width mao">
                        Copyright 2014 www.chuguofeng.com All Rights Reserved <a href="http://www.miibeian.gov.cn/" target="_blank">粤ICP备14095256号</a> 版权所有 深圳深海投网络科技有限公司 
            </div>
        </div>
    </div>
    
    <script>
        $(function(){
            /*tabSwitch(".tab li","tab-selected",".tab-box");*/
            
            /*实例化编辑器*/
            /*var um = UM.getEditor("kpc");*/
            
            $(".table tr").hover(function(){
                if( $(this).index() != 0){
                    $(this).animate({background:'#000'},300);
                }
            },function(){
                 $(this).animate({background:'#fff'},300);
            });
            
            /*展开收起学校列表*/
            toggleList(".btn-show-list",".show-list");
        });
    </script>
</body>
</html>