<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>资讯</title>
    <link rel="stylesheet" type="text/css" href="../../../css/common.css">
    <script src="../../../js/lab/jquery-1.8.3.min.js"></script>
    <script src="../../../js/common.js"></script>
</head>

<body class="bg-fa">
<!--头部-->
<div id="header">
    <!--顶部栏-->
    <div class="top-bar com-width mao fix">
        <div class="left-area sns fl">
            关注我们
            <a href="" class="weibo dib vm mr10 ml10"></a>
            <a href="" class="weixin dib vm"></a>
        </div>
        <div class="right-area fr">
            <!--非登录-->
            <a href="" title="" class="dib">立即注册</a> |
            <a href="" title="" class="dib">登录</a>
            <!--登录-->
            <span class="dib">欢迎您：你妹啊</span> |
            <a href="" title="" class="dib mr35">进入个人中心</a>
            <a href="" title="" class="dib exit c-14">退出</a>
        </div>
    </div>
    <!--导航-->
    <div class="nav-outer w100">
        <div class="nav-box com-width mao fix">
            <a class="logo dib fl" href="http://www.chuguofeng.com"><img class="vm" src="../../../images/logo_w.png" alt="出国风"></a>

            <ul class="nav fix fl ml70">
                <li><a href="" title="">首页</a></li>
                <li><a href="" title="">精品项目</a></li>
                <li><a href="" title="">移民公司</a></li>
                <li><a href="" title="">移民招投标</a></li>
                <li><a href="" title="">活动展会</a></li>
            </ul>
            <div class="fr rel">
                <input class="search bgw" type="text" id="" value="" placeholder="搜索">
                <i class="search-icon abs"></i>
            </div>
        </div>
    </div>
</div>

<!--主体-->
<div id="wrap" class="fix com-width mao">
    <!--左边栏-->
    <div class="left-bar mt40 fl">
        <div class="user-info block tc ">
            <div class="head-pic mao">
                <img src="../../../images/head_pic.png" alt="">
            </div>
            <p class="lh20 mt20">HI 早上好</p>

            <p class="lh20">15800005555</p>

            <div class="user-state mt10">
                <!--电话验证-->
                <i class="dib phone-check"></i>
                <!--邮箱验证-->
                <i class="dib mail-check"></i>
                <!--设置-->
                <i class="dib setup"></i>
            </div>
        </div>
        <ul class="main-nav block mt10">
            <li class="rel">
                <div class="r-arr"><i></i></div>
                <a href="javascript:void(0);" class="nav-tit b bo-line">个人信息</a>

                <ul>
                    <li class=""><a href="" class="selected">账号资料</a></li>
                    <li class="bo-line"><a href="">业务资料</a></li>
                </ul>
            </li>
            <li class="rel">
                <div class="r-arr"><i></i></div>
                <a href="javascript:void(0);" class="nav-tit b bo-line">消息中心</a>

                <ul>
                    <li><a href="">会话</a></li>
                    <li><a href="">报名的活动</a></li>
                    <li class="bo-line"><a href="">顾问列表</a></li>
                </ul>
            </li>
            <li class="rel">
                <div class="r-arr"><i></i></div>
                <a href="" class="nav-tit b bo-line">我的招标</a>
            </li>
            <li class="rel">
                <div class="r-arr"><i></i></div>
                <a href="javascript:void(0);" class="nav-tit b">我的收藏</a>

                <ul>
                    <li><a href="">所有收藏</a></li>
                    <li><a href="">移民</a></li>
                    <li><a href="">海外房产</a></li>
                    <li class="bo-line"><a href="">活动</a></li>
                </ul>
            </li>
            <li class="rel">
                <i class="r-arr"></i>
                <a href="" class="nav-tit b">我的合作</a>
            </li>
        </ul>
    </div>

    <!--中间栏-->
    <div class="main-bar mt40 ml20 fl">


        <div class="block pd35 h800">
            <span class="btn-add-case cup fr">+ 添加资讯</span>

            <ul class="bg-2e c-w p10 mt30">
                <li class="dib tc w200">资讯</li>
                <li class="dib tc w80">类型</li>
                <li class="dib tc w120">跟新时间</li>
                <li class="dib tc w80">是否显示</li>
                <li class="dib tc w120">操作</li>
            </ul>
            <ul class="p10 mt10 pb20 bo-line">
                <li class="dib tc w200">2014年12月澳洲商考团(回顾)</li>
                <li class="dib tc w80">资讯</li>
                <li class="dib tc w120">
                    2015-06-05 12:00
                </li>
                <li class="dib tc w80 ">
                    <i class="checkbox-sprite"></i>
                </li>
                <li class="dib tc w120">
                    <span class="c-2e cup ml20">修改</span>
                    <span class="c-2e cup ml10">删除</span>
                </li>
            </ul>
            <ul class="p10 mt10 pb20 bo-line">
                <li class="dib tc w200">2014年12月澳洲商考团(回顾)</li>
                <li class="dib tc w80">资讯</li>
                <li class="dib tc w120">
                    2015-06-05 12:00
                </li>
                <li class="dib tc w80">
                    <i class="checkbox-sprite"></i>
                </li>
                <li class="dib tc w120">
                    <span class="c-2e cup ml20">修改</span>
                    <span class="c-2e cup ml10">删除</span>
                </li>
            </ul>
            <ul class="p10 mt10 pb20 bo-line">
                <li class="dib tc w200">2014年12月澳洲商考团(回顾)</li>
                <li class="dib tc w80">资讯</li>
                <li class="dib tc w120">2015-06-05 12:00</li>
                <li class="dib tc w80">
                    <i class="checkbox-sprite"></i>
                </li>
                <li class="dib tc w120">
                    <span class="c-2e cup ml20">修改</span>
                    <span class="c-2e cup ml10">删除</span>
                </li>
            </ul>
        </div>
    </div>

    <!--右边栏-->
    <div class="right-bar mt40 ml20 fl">
        <!--热门项目-->
        <div class="block r-list">
            <h2 class="tit b bo-line">热门项目</h2>

            <ul>
                <li>
                    <a href="" class="db fix ova">
                        <img src="../../../images/item_pic.png" alt="" class="fl mr10">

                        <p>推荐项目推荐项目推荐</p>
                    </a>
                </li>
                <li>
                    <a href="" class="db fix ova">
                        <img src="../../../images/item_pic.png" alt="" class="fl mr10">

                        <p>推荐项目推荐项目推荐</p>
                    </a>
                </li>
                <li>
                    <a href="" class="db fix ova">
                        <img src="../../../images/item_pic.png" alt="" class="fl mr10">

                        <p>推荐项目推荐项目推荐</p>
                    </a>
                </li>
                <li>
                    <a href="" class="db fix ova">
                        <img src="../../../images/item_pic.png" alt="" class="fl mr10">

                        <p>推荐项目推荐项目推荐</p>
                    </a>
                </li>

            </ul>
        </div>
        <!--热门文章-->
        <div class="block r-list mt10">
            <h2 class="tit b bo-line">热门文章</h2>

            <ul>
                <li><a href="" title="" class="ell db"><span class="dib pr5 c-f5">1.</span>热门文章热门文章热门文章</a></li>
                <li><a href="" title="" class="ell db"><span class="dib pr5 c-f5">2.</span>热门文章热门文章热门文章</a></li>
                <li><a href="" title="" class="ell db"><span class="dib pr5 c-f5">3.</span>热门文章热门文章热门文章</a></li>
                <li><a href="" title="" class="ell db"><span class="dib pr5">4.</span>热门文章热门文章热门文章</a></li>
                <li><a href="" title="" class="ell db"><span class="dib pr5">5.</span>热门文章热门文章热门文章</a></li>
                <li><a href="" title="" class="ell db"><span class="dib pr5">6.</span>热门文章热门文章热门文章</a></li>
            </ul>
        </div>
        <!--广告-->
        <div class="ad mt10">
            <a href="" title="" class="db mb10" target="_blank"><img src="../../../images/ad1.png" alt=""></a>
            <a href="" title="" class="db mb10" target="_blank"><img src="../../../images/ad2.png" alt=""></a>
            <a href="" title="" class="db mb10" target="_blank"><img src="../../../images/ad3.png" alt=""></a>
        </div>
    </div>
</div>

<!--脚部-->
<div id="footer" class="mt30">
    <div class="footer-outer w100">
        <div class="footer-box com-width mao fix">
            <img class="footer-logo fl" src="../../../images/site_logo.png" alt="出国风">

            <div class="about-us fl fix">
                <ul class="fl mr35">
                    <li class="tit bo-line b">出国风特色</li>
                    <li><a href="" class="">产品与服务</a></li>
                </ul>
                <ul class="fl mr35">
                    <li class="tit bo-line b">帮助中心</li>
                    <li><a href="" class="">找回密码</a></li>
                    <li><a href="" class="">新手教程</a></li>
                    <li><a href="" class="">友情链接</a></li>
                </ul>
                <ul class="fl mr35">
                    <li class="tit bo-line b">关于我们</li>
                    <li><a href="" class="">出国风简介</a></li>
                    <li><a href="" class="">联系我们</a></li>
                    <li><a href="" class="">企业文化</a></li>
                    <li><a href="" class="">人才招聘</a></li>
                </ul>
                <ul class="fl mr35">
                    <li class="tit bo-line b">常见问题</li>
                    <li><a href="" class="">公司注册</a></li>
                    <li><a href="" class="">一键匹配</a></li>
                    <li><a href="" class="">点评报告</a></li>
                </ul>
                <ul class="fl service">
                    <li class="tit bo-line b">客服热线（工作时间 8:00 - 22:00）</li>
                    <li class="tel b">400&nbsp;&nbsp;9677&nbsp;&nbsp;360</li>
                    <li class="b">客服邮箱<a href="" class="b">KF@chuguofeng.com</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright tc com-width mao">
            Copyright 2014 www.chuguofeng.com All Rights Reserved <a href="http://www.miibeian.gov.cn/" target="_blank">粤ICP备14095256号</a>
            版权所有 深圳深海投网络科技有限公司
        </div>
    </div>
</div>

<script>
    $(function () {
        $(".r-arr").toggle(function () {
            $(this).find("i").css({
                "border-top": "6px solid transparent",
                "border-bottom": "6px solid  transparent",
                "border-left": "6px solid #c1c1c1",
                "top": "-6px"
            });
            $(this).parent().find("ul").slideUp();
        }, function () {
            $(this).find("i").css({
                "border-left": "6px solid transparent",
                "border-right": "6px solid  transparent",
                "border-top": "6px solid #c1c1c1",
                "top": "-5px"
            });
            $(this).parent().find("ul").slideDown();
        });
    });

    /*是否显示图片改变*/
    $(function () {
        $(".checkbox-sprite").click(function () {
            $(this).toggleClass("true");
        });
    })
</script>
</body>
</html>