<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>公司认证</title>
    <link rel="stylesheet" type="text/css" href="../../../css/common.css">
    <script src="../../../js/lab/jquery-1.8.3.min.js"></script>
    <script src="../../../js/common.js"></script>
</head>

<body class="bg-fa">
<!--头部-->
<div id="header">
    <!--顶部栏-->
    <div class="top-bar com-width mao fix">
        <div class="left-area sns fl">
            关注我们
            <a href="" class="weibo dib vm mr10 ml10"></a>
            <a href="" class="weixin dib vm"></a>
        </div>
        <div class="right-area fr">
            <!--非登录-->
            <a href="" title="" class="dib">立即注册</a> |
            <a href="" title="" class="dib">登录</a>
            <!--登录-->
            <span class="dib">欢迎您：你妹啊</span> |
            <a href="" title="" class="dib mr35">进入个人中心</a>
            <a href="" title="" class="dib exit c-14">退出</a>
        </div>
    </div>
    <!--导航-->
    <div class="nav-outer w100">
        <div class="nav-box com-width mao fix">
            <a class="logo dib fl" href="http://www.chuguofeng.com"><img class="vm" src="../../../images/logo_w.png" alt="出国风"></a>

            <ul class="nav fix fl ml70">
                <li><a href="" title="">首页</a></li>
                <li><a href="" title="">精品项目</a></li>
                <li><a href="" title="">移民公司</a></li>
                <li><a href="" title="">移民招投标</a></li>
                <li><a href="" title="">活动展会</a></li>
            </ul>
            <div class="fr rel">
                <input class="search bgw" type="text" id="" value="" placeholder="搜索">
                <i class="search-icon abs"></i>
            </div>
        </div>
    </div>
</div>

<!--主体-->
<div id="wrap" class="fix com-width mao">
    <!--左边栏-->
    <div class="left-bar mt40 fl">
        <div class="user-info block tc ">
            <div class="head-pic mao">
                <img src="../../../images/head_pic.png" alt="">
            </div>
            <p class="lh20 mt20">HI 早上好</p>

            <p class="lh20">15800005555</p>

            <div class="user-state mt10">
                <!--电话验证-->
                <i class="dib phone-check"></i>
                <!--邮箱验证-->
                <i class="dib mail-check"></i>
                <!--设置-->
                <i class="dib setup"></i>
            </div>
        </div>
        <ul class="main-nav block mt10">
            <li class="rel">
                <div class="r-arr"><i></i></div>
                <a href="javascript:void(0);" class="nav-tit b bo-line">个人信息</a>

                <ul>
                    <li class=""><a href="" class="selected">账号资料</a></li>
                    <li class="bo-line"><a href="">业务资料</a></li>
                </ul>
            </li>
            <li class="rel">
                <div class="r-arr"><i></i></div>
                <a href="javascript:void(0);" class="nav-tit b bo-line">消息中心</a>

                <ul>
                    <li><a href="">会话</a></li>
                    <li><a href="">报名的活动</a></li>
                    <li class="bo-line"><a href="">顾问列表</a></li>
                </ul>
            </li>
            <li class="rel">
                <div class="r-arr"><i></i></div>
                <a href="" class="nav-tit b bo-line">我的招标</a>
            </li>
            <li class="rel">
                <div class="r-arr"><i></i></div>
                <a href="javascript:void(0);" class="nav-tit b">我的收藏</a>

                <ul>
                    <li><a href="">所有收藏</a></li>
                    <li><a href="">移民</a></li>
                    <li><a href="">海外房产</a></li>
                    <li class="bo-line"><a href="">活动</a></li>
                </ul>
            </li>
            <li class="rel">
                <i class="r-arr"></i>
                <a href="" class="nav-tit b">我的合作</a>
            </li>
        </ul>

    </div>

    <!--中间栏-->
    <div class="main-bar mt40 ml20 fl">
        <div class="block mt10">

            <!--步骤流程-->
            <ul class="step-process mt20 ml50">
                <li class="current dib f20 b">
                    <span class="mr20">基本资料</span>
                </li>
                <li class="dib f20 b">
                    个人概况
                </li>
                <li class="dib f20 b">
                    <span class="ml10">完成定制</span>
                </li>
            </ul>

            <ul class="user-step">
                <li class="one-step fl tc">
                    <img src="../../../images/素材/user_center_blue.png"/>
                </li>
                <li class="second-step fl tc">
                    <img class="second-img" src="../../../images/素材/user_center_grey.png"/>
                </li>
                <li class="third-step fl tc">
                    <img class="third-img" src="../../../images/素材/user_center_grey.png"/>
                </li>
            </ul>

            <!--基本资料-->
            <div class="tab-box base-info mt50">
                <form action="" name="" method="post" id="base-info">
                    <div class="row">
                        <span class="label dib tr"><i class="c-ef imp">*</i>姓名：</span>

                        <div class="dib ml10">
                            <input id="" type="text" name="" class="im" placeholder="请输入真实姓名">
                            <span class="error-box"></span>
                        </div>
                        <i class="icon"></i>
                    </div>
                    <div class="row">
                        <span class="label dib tr"><i class="c-ef imp">*</i>性别：</span>

                        <div class="dib ml10">
                            <label class="mr10 cup"><input type="radio" name="sex" class="mr5" value="">男</label>
                            <label class="mr10 cup"><input type="radio" name="sex" class="mr5" value="">女</label>
                        </div>
                    </div>
                    <div class="row">
                        <span class="label dib tr"><i class="c-ef imp">*</i>年龄：</span>

                        <div class="dib ml10">
                            <input id="" type="text" name="" class="im" placeholder="请输入真实年龄">
                            <span class="error-box"></span>
                        </div>
                        <i class="icon"></i>
                    </div>
                    <div class="row">
                        <span class="label dib tr"><i class="c-ef imp">*</i>居住地：</span>

                        <div class="dib ml10">
                            <select name="" class="cup sm mr10">
                                <option value="">广东</option>
                                <option value="">选项一</option>
                                <option value="">选项一</option>
                            </select>
                            <select name="" class="cup sm mr10">
                                <option value="">深圳</option>
                                <option value="">选项一</option>
                                <option value="">选项一</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <span class="label dib tr"><i class="c-ef imp">*</i>最高学历：</span>

                        <div class="dib ml10">
                            <select name="" class="cup sm mr10">
                                <option value="">博士</option>
                                <option value="">本科</option>
                                <option value="">专科</option>
                                <option value="">高中</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <span class="label dib tr">外语水平：</span>
                        <select name="" class="select cup mr10 ml10">
                            <option value="">英语</option>
                            <option value="">德语</option>
                            <option value="">法语</option>
                            <option value="">韩语</option>
                        </select>
                        <select name="" class="select cup mr10">
                            <option value="">一般</option>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                        <span>托福分数</span><input type="text" class="in ml10"/>
                        <span class="ml20">雅思分数</span><input type="text" class="in ml10"/>
                        <button class="c-ef cup dib">删除</button>
                    </div>
                    <div class="row">
                        <span class="label dib vt tr"><i class="c-ef imp">*</i>家庭资产：</span>
                        <label class="pl10 cup"><input type="radio" checked/> 300万以下</label>
                        <label class="pl30 cup"><input type="radio"/> 300万-800万</label>
                        <label class="pl30 cup"><input type="radio"/> 800万以上</label>
                    </div>

                </form>
                <div class="row ml90">
                    <button id="once-step" class="submit-btn cup ml70">下一步</button>
                </div>
            </div>

            <!--个人概况-->
            <div class="tab-box personal-pro mt50 dn">
                <form action="" name="" method="post" id="personal-info">
                    <div class="row">
                        <span class="label dib tr"><i class="c-ef imp">*</i>意向类型：</span>
                        <label class="cup"><input type="checkbox"/> 投资移民</label>
                        <label class="cup ml20"><input type="checkbox" checked/> 置业移民</label>
                        <label class="cup ml20"><input type="checkbox"/> 雇主移民</label>
                        <label class="cup ml20"><input type="checkbox"/> 技术移民</label>
                    </div>
                    <div class="row">
                        <span class="label dib tr"><i class="c-ef imp">*</i>意向国家：</span>

                        <div class="dib">
                            <select name="" class="province sl mr10">
                                <option value="">国家</option>
                                <option value="">选项一</option>
                                <option value="">选项一</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <span class="label dib tr"><i class="c-ef imp">*</i>身份：</span>
                        <label class="cup"><input name="shenfen" type="radio" value="frist"/> 企业主或股东</label>
                        <label class="cup ml20">
                            <input name="shenfen" type="radio" value="sencord" checked/>非企业主或股东
                        </label>
                        <label class="cup ml20"><input name="shenfen" type="radio" value="third"/> 暂不方便透漏</label>
                    </div>
                    <div class="ent-info dn">
                        <div class="tc w50 ent">
                            <img src="../../../images/素材/user_center_ent.png"/>
                        </div>

                        <div class="block get-code ml50 w50">
                            <div class="row pl20">
                                <span class="tr c-2e">公司类型：</span>
                                <select class="cup sl" name="" id="">
                                    <option value="上市公司">上市公司</option>
                                    <option value="上市公司">民营公司</option>
                                    <option value="上市公司">上市公司</option>
                                </select>
                            </div>
                            <div class="row pl20">
                                <span class="tr c-2e">注册基金：</span>
                                <input class="is" type="text"/>
                                <span class="mlf50 c-a7">万元</span>
                            </div>
                            <div class="row pl20">
                                <span class="tr c-2e">员工人数：</span>
                                <input class="is" type="text"/>
                                <span class="mlf30 c-a7">人</span>
                            </div>
                            <div class="row pl20">
                                <span class="tr c-2e">持股比例：</span>
                                <input class="is" type="text"/>
                                <span class="mlf30 c-a7">%</span>
                            </div>
                            <div class="row pl30">
                                <span class=" tr c-2e ml20">职位：</span>
                                <input class="is" type="text"/>
                            </div>
                            <div class="row pl20 ml20">
                                <span class="tr c-2e">管理经验：</span>
                                <label class=""><input name="income" type="radio"/> 1-3年</label>
                                <label class="ml20"><input name="income" type="radio"/> 3-5年</label>
                                <label class="ml20"><input name="income" type="radio"/> 5年以上</label>

                            </div>
                            <div class="row pl20">
                                <span class="tr c-2e ml15">年收入：</span>
                                <input class="is" type="text"/>
                                <span class="mlf50 c-a7">万元</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <span class="label dib vt tr"><i class="c-ef imp">*</i>您关心的问题：</span>

                        <div class="pb10  dib">
                            <label class="cup"><input type="checkbox"/> 成功率</label>
                            <label class="cup ml20"><input type="checkbox"/> 办理时间</label>
                            <label class="cup ml20"><input type="checkbox"/> 办理费用</label>
                            <label class="cup ml20"><input type="checkbox"/> 是否有移民监</label>
                            <label class="cup ml20"><input type="checkbox"/> 福利待遇</label>
                        </div>
                        <div class="pb10 pt10 ml90">
                            <label class="cup ml60"><input type="checkbox"/> 当地物价及消费水平</label>
                            <label class="cup ml20"><input type="checkbox"/> 子女入学及教育</label>
                            <label class="cup ml20"><input type="checkbox"/> 求职难易度</label>
                        </div>
                        <div class="ml90 pt10">
                            <label class="cup ml60"><input type="checkbox" checked/> 投资安全及收益(仅针对商业投资移民)</label>
                        </div>
                    </div>
                    <div class="row">
                        <span class="label dib tr vt">备注：</span>
                        <textarea class="big-txtarea" placeholder="请输入详细信息，如家庭情况，工作经验，或其他您希望顾问知悉的内容"></textarea>
                    </div>
                </form>
                <div class="row ml90 pb100">
                    <button id="second-step" class="submit-btn cup ml70" type="submit">下一步</button>
                    <button id="go-forward" class="submit-btn cup ml70" type="submit">返回上一步</button>
                </div>
            </div>

            <!--完成定制-->
            <div class="tab-box complete-cus dn">
                <div class="pbf pd35 mt50">
                    <div class="tc mb20 mt20">
                        <img src="../../../images/素材/user_center_success.png" alt=""/>
                    </div>
                    <p class="tc">您的定制资料已经成功提交，请等待管理员后台审核！</p>

                    <p class="tc"><a class="c-2e" href="">请点击此处，</a>反回至首页，4秒钟自动反回首页</p>
                </div>
            </div>

        </div>
    </div>

    <!--右边栏-->
    <div class="right-bar mt40 ml20 fl">
        <!--热门项目-->
        <div class="block r-list">
            <h2 class="tit b bo-line">热门项目</h2>

            <ul>
                <li>
                    <a href="" class="db fix ova">
                        <img src="../../../images/item_pic.png" alt="" class="fl mr10">

                        <p>推荐项目推荐项目推荐</p>
                    </a>
                </li>
                <li>
                    <a href="" class="db fix ova">
                        <img src="../../../images/item_pic.png" alt="" class="fl mr10">

                        <p>推荐项目推荐项目推荐</p>
                    </a>
                </li>
                <li>
                    <a href="" class="db fix ova">
                        <img src="../../../images/item_pic.png" alt="" class="fl mr10">

                        <p>推荐项目推荐项目推荐</p>
                    </a>
                </li>
                <li>
                    <a href="" class="db fix ova">
                        <img src="../../../images/item_pic.png" alt="" class="fl mr10">

                        <p>推荐项目推荐项目推荐</p>
                    </a>
                </li>

            </ul>
        </div>
        <!--热门文章-->
        <div class="block r-list mt10">
            <h2 class="tit b bo-line">热门文章</h2>

            <ul>
                <li><a href="" title="" class="ell db"><span class="dib pr5 c-f5">1.</span>热门文章热门文章热门文章</a></li>
                <li><a href="" title="" class="ell db"><span class="dib pr5 c-f5">2.</span>热门文章热门文章热门文章</a></li>
                <li><a href="" title="" class="ell db"><span class="dib pr5 c-f5">3.</span>热门文章热门文章热门文章</a></li>
                <li><a href="" title="" class="ell db"><span class="dib pr5">4.</span>热门文章热门文章热门文章</a></li>
                <li><a href="" title="" class="ell db"><span class="dib pr5">5.</span>热门文章热门文章热门文章</a></li>
                <li><a href="" title="" class="ell db"><span class="dib pr5">6.</span>热门文章热门文章热门文章</a></li>
            </ul>
        </div>
        <!--广告-->
        <div class="ad mt10">
            <a href="" title="" class="db mb10" target="_blank"><img src="../../../images/ad1.png" alt=""></a>
            <a href="" title="" class="db mb10" target="_blank"><img src="../../../images/ad2.png" alt=""></a>
            <a href="" title="" class="db mb10" target="_blank"><img src="../../../images/ad3.png" alt=""></a>
        </div>
    </div>
</div>

<!--脚部-->
<div id="footer" class="mt30">
    <div class="footer-outer w100">
        <div class="footer-box com-width mao fix">
            <img class="footer-logo fl" src="../../../images/site_logo.png" alt="出国风">

            <div class="about-us fl fix">
                <ul class="fl mr35">
                    <li class="tit bo-line b">出国风特色</li>
                    <li><a href="" class="">产品与服务</a></li>
                </ul>
                <ul class="fl mr35">
                    <li class="tit bo-line b">帮助中心</li>
                    <li><a href="" class="">找回密码</a></li>
                    <li><a href="" class="">新手教程</a></li>
                    <li><a href="" class="">友情链接</a></li>
                </ul>
                <ul class="fl mr35">
                    <li class="tit bo-line b">关于我们</li>
                    <li><a href="" class="">出国风简介</a></li>
                    <li><a href="" class="">联系我们</a></li>
                    <li><a href="" class="">企业文化</a></li>
                    <li><a href="" class="">人才招聘</a></li>
                </ul>
                <ul class="fl mr35">
                    <li class="tit bo-line b">常见问题</li>
                    <li><a href="" class="">公司注册</a></li>
                    <li><a href="" class="">一键匹配</a></li>
                    <li><a href="" class="">点评报告</a></li>
                </ul>
                <ul class="fl service">
                    <li class="tit bo-line b">客服热线（工作时间 8:00 - 22:00）</li>
                    <li class="tel b">400&nbsp;&nbsp;9677&nbsp;&nbsp;360</li>
                    <li class="b">客服邮箱<a href="" class="b">KF@chuguofeng.com</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright tc com-width mao">
            Copyright 2014 www.chuguofeng.com All Rights Reserved <a href="http://www.miibeian.gov.cn/" target="_blank">粤ICP备14095256号</a>
            版权所有 深圳深海投网络科技有限公司
        </div>
    </div>
</div>

<script>
    $(function () {
        $(".r-arr").toggle(function () {
            $(this).find("i").css({
                "border-top": "6px solid transparent",
                "border-bottom": "6px solid  transparent",
                "border-left": "6px solid #c1c1c1",
                "top": "-6px"
            });
            $(this).parent().find("ul").slideUp();
        }, function () {
            $(this).find("i").css({
                "border-left": "6px solid transparent",
                "border-right": "6px solid  transparent",
                "border-top": "6px solid #c1c1c1",
                "top": "-5px"
            });
            $(this).parent().find("ul").slideDown();
        });

        $(".img-size,.upload-pic").mouseover(function () {
            $(".upload-pic").show();
        });

        $(".img-size,.upload-pic").mouseleave(function () {
            $(".upload-pic").hide();
        });
    });

    $(function () {
        tabSwitch(".tab li", "tab-selected", ".tab-box");

        $(".table tr").hover(function () {

            if ($(this).index() != 0) {
                $(this).animate({background: '#000'}, 300);
            }
        }, function () {
            $(this).animate({background: '#fff'}, 300);
        });
    });

    $(function () {

        /*点击下一步 反回上一级 操作*/
        $("#once-step").click(function () {
            console.log("hello world !!");
            $(".base-info").hide();
            $(".personal-pro").show();
            $(".second-step").css("background-color", "#2e83de");
            $(".second-img").remove();
            $(".second-step").append(" <img class='second-img' src='../../../images/素材/user_center_blue.png'/>");
        });

        $("#go-forward").click(function () {
            $(".base-info").show();
            $(".personal-pro").hide();
            $(".second-step").css("background-color", "#ddd");
            $(".second-img").remove();
            $(".second-step").append(" <img class='second-img' src='../../../images/素材/user_center_grey.png'/>");
        });

        $("#second-step").click(function () {
            $(".personal-pro").hide();
            $(".complete-cus").show();
            $(".third-step").css("background-color", "#2e83de");
            $(".third-img").remove();
            $(".third-step").append(" <img src='../../../images/素材/user_center_blue.png'/>");
        });

        //取选中单选按钮的值
        $('.row input[name="shenfen"]').click(function () {
            var radioValue = $('.row input[name="shenfen"]:checked').val();
            if (radioValue === 'frist') {
                $(".ent-info").show();
                $(".personal-pro").css('height', 'auto');
            } else {
                $(".ent-info").hide();
            }
        });
    })
</script>
</body>
</html>