<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>公司认证</title>
    <link rel="stylesheet" type="text/css" href="../../../css/common.css">
    <script src="../../../js/lab/jquery-1.8.3.min.js"></script>
    <script src="../../../js/common.js"></script>
</head>

<body class="bg-fa">
<!--头部-->
<div id="header">
    <!--顶部栏-->
    <div class="top-bar com-width mao fix">
        <div class="left-area sns fl">
            关注我们
            <a href="" class="weibo dib vm mr10 ml10"></a>
            <a href="" class="weixin dib vm"></a>
        </div>
        <div class="right-area fr">
            <!--非登录-->
            <a href="" title="" class="dib">立即注册</a> |
            <a href="" title="" class="dib">登录</a>
            <!--登录-->
            <span class="dib">欢迎您：你妹啊</span> |
            <a href="" title="" class="dib mr35">进入个人中心</a>
            <a href="" title="" class="dib exit c-14">退出</a>
        </div>
    </div>
    <!--导航-->
    <div class="nav-outer w100">
        <div class="nav-box com-width mao fix">
            <a class="logo dib fl" href="http://www.chuguofeng.com"><img class="vm" src="../../../images/logo_w.png" alt="出国风"></a>

            <ul class="nav fix fl ml70">
                <li><a href="" title="">首页</a></li>
                <li><a href="" title="">精品项目</a></li>
                <li><a href="" title="">移民公司</a></li>
                <li><a href="" title="">移民招投标</a></li>
                <li><a href="" title="">活动展会</a></li>
            </ul>
            <div class="fr rel">
                <input class="search bgw" type="text" id="" value="" placeholder="搜索">
                <i class="search-icon abs"></i>
            </div>
        </div>
    </div>
</div>

<!--主体-->
<div id="wrap" class="fix com-width mao">
    <!--左边栏-->
    <div class="left-bar mt40 fl">
        <div class="user-info block tc ">
            <div class="head-pic mao">
                <img src="../../../images/head_pic.png" alt="">
            </div>
            <p class="lh20 mt20">HI 早上好</p>

            <p class="lh20">15800005555</p>

            <div class="user-state mt10">
                <!--电话验证-->
                <i class="dib phone-check"></i>
                <!--邮箱验证-->
                <i class="dib mail-check"></i>
                <!--设置-->
                <i class="dib setup"></i>
            </div>
        </div>
        <ul class="main-nav block mt10">
            <li class="rel">
                <div class="r-arr"><i></i></div>
                <a href="javascript:void(0);" class="nav-tit b bo-line">个人信息</a>

                <ul>
                    <li class=""><a href="" class="selected">账号资料</a></li>
                    <li class="bo-line"><a href="">业务资料</a></li>
                </ul>
            </li>
            <li class="rel">
                <div class="r-arr"><i></i></div>
                <a href="javascript:void(0);" class="nav-tit b bo-line">消息中心</a>

                <ul>
                    <li><a href="">会话</a></li>
                    <li><a href="">报名的活动</a></li>
                    <li class="bo-line"><a href="">顾问列表</a></li>
                </ul>
            </li>
            <li class="rel">
                <div class="r-arr"><i></i></div>
                <a href="" class="nav-tit b bo-line">我的招标</a>
            </li>
            <li class="rel">
                <div class="r-arr"><i></i></div>
                <a href="javascript:void(0);" class="nav-tit b">我的收藏</a>

                <ul>
                    <li><a href="">所有收藏</a></li>
                    <li><a href="">移民</a></li>
                    <li><a href="">海外房产</a></li>
                    <li class="bo-line"><a href="">活动</a></li>
                </ul>
            </li>
            <li class="rel">
                <i class="r-arr"></i>
                <a href="" class="nav-tit b">我的合作</a>
            </li>
        </ul>

    </div>

    <!--中间栏-->
    <div class="main-bar mt40 ml20 fl">
        <!--选项卡-->
        <div class="list block mt10">
            <ul class="tab fix bo-line">
                <li class="fl cup rel tab-selected"><i class="tab-arr abs dn"></i>公司验证</li>
                <li class="fl cup rel"><i class="tab-arr abs dn"></i>网站名片</li>
                <li class="fl cup rel"><i class="tab-arr abs dn"></i>SEO设置</li>
            </ul>

            <!--公司验证-->
            <ul class="tab-box">
                <div class="f18 mt40 mb10">上传公司LOGO:</div>

                <li class="ova fix bo-line block pd35">
                    <div class="c-ef">1. 公司LOGO圖片請保持清晰，不要侵权，以提高通过几率（600*600）;</div>
                    <div class="c-ef">2. 上传的图片仅支持jpg,jpeg,bmp,gif格式照片，大小不要超过2M;</div>

                    <div class="fl df">
                        <div>
                            <img class="img-size mt10 cup" src="../../../images/1_1_100px.png">

                            <div class="upload-pic cup dn">上传图片</div>
                        </div>
                        <div class="mt100 ml10 c-ef">
                            审核中
                        </div>
                    </div>
                    <div class="fr tc">
                        <div class="df mt50">
                            <div class="mt50 mr10">范例</div>
                            <img src="../../../images/head_pic.png" alt=""/>
                        </div>
                        <div class="look-pic cup mt20">点击查看大图</div>
                    </div>
                </li>

                <div class="f18 mt40 mb10">上传营业执照:</div>

                <li class="ova fix bo-line block pd35">
                    <div class="c-ef">1. 营业执照请上传原件或副本扫描件或复印件，照片必须加盖实体店公章;<br>保持图片清晰以提高通过率(600*600)</div>
                    <div class="c-ef">2. 上传的图片仅支持jpg,jpeg,bmp,gif格式照片，大小不要超过2M;</div>

                    <div class="fl df">
                        <img class="img-size mt10 cup" src="../../../images/1_1_100px.png">

                        <div class="mt100 ml10 c-57">
                            审核通过
                        </div>
                    </div>
                    <div class="fr tc">
                        <div class="df mt50">
                            <div class="mt50 mr10">范例</div>
                            <img src="../../../images/head_pic.png" alt=""/>
                        </div>
                        <div class="look-pic cup mt20">点击查看大图</div>
                    </div>
                </li>

                <div class="f18 mt40 mb10">上传因私出入照:</div>

                <li class="ova fix bo-line block pd35">
                    <div class="c-ef">1. 因私出入照片必须加盖实公章,保持图片的清晰度以提高通过几率（600*600）;;</div>
                    <div class="c-ef">2. 上传的图片仅支持jpg,jpeg,bmp,gif格式照片，大小不要超过2M;</div>

                    <div class="fl df">
                        <img class="img-size mt10 cup" src="../../../images/1_1_100px.png">

                        <div class="mt100 ml10 c-ef">
                            审核未通过
                        </div>
                    </div>
                    <div class="fr tc">
                        <div class="df mt50">
                            <div class="mt50 mr10">范例</div>
                            <img src="../../../images/head_pic.png" alt=""/>
                        </div>
                        <div class="look-pic cup mt20">点击查看大图</div>
                    </div>
                </li>
            </ul>

            <!--网站名片-->
            <ul class="tab-box dn">
                <li class="tc bo-line">
                    <form action="" name="" method="post" id="form-user-info">
                        <div class="row">
                            <span class="label dib tr">公司全称：</span>

                            <div class="dib ml10">
                                <input id="" type="text" name="" class="text-input" placeholder="请输入公司全称">
                                <span class="error-box"></span>
                            </div>
                            <i class="icon"></i>
                        </div>
                        <div class="row">
                            <span class="label dib tr">公司简历：</span>

                            <div class="dib ml10">
                                <input id="" type="text" name="" class="text-input" placeholder="请输入公司简历">
                                <span class="error-box"></span>
                            </div>
                            <i class="icon"></i>
                        </div>
                        <div class="row">
                            <span class="label dib tr">公司title：</span>

                            <div class="dib ml10">
                                <input id="" type="text" name="" class="text-input" placeholder="请输入公司title">
                                <span class="error-box"></span>
                            </div>
                            <i class="icon"></i>
                        </div>
                    </form>
                </li>

                <li class="bo-line">
                    <div class="df mt30">
                        <div class="fl df">
                            <div class="mt20">公司LOGO：</div>
                            <div class="ml10 logo"><img src="../../../images/head_pic.png" alt=""/></div>
                        </div>
                        <div class="fr ml90 mt10">
                            <input class="bg-2e c-w set-btn cup" type="button" value="修改"/>
                            <span class="c-ef">请上传278*120图片</span>
                        </div>
                    </div>

                    <div class="df">
                        <div class="fl df">
                            <div class="mt20">banner ：&nbsp;&nbsp;&nbsp;&nbsp;</div>
                            <div class="ml10 logo"><img src="../../../images/head_pic.png" alt=""/></div>
                        </div>
                        <div class="fr ml90 mt10">
                            <input class="bg-2e c-w set-btn cup" type="button" value="修改"/>
                            <span class="c-ef">请上传1082*170图片</span>
                        </div>
                    </div>
                </li>

                <li class="bo-line">
                    <div class="check-groups">
                        <label>主营范围：</label>

                        <label class="cup"><input type="checkbox" checked/> 投资移民</label>
                        <label class="cup"><input type="checkbox"/> 买房移民</label>
                        <label class="cup"><input type="checkbox"/> 投资移民</label>
                        <label class="cup"><input type="checkbox"/> 期盘</label>
                        <label class="cup"><input type="checkbox"/> 现盘</label>
                        <label class="cup"><input type="checkbox"/> 二手物业</label>
                    </div>
                    <div class="check-groups">
                        <label>业务国家：</label>

                        <label class="cup"><input type="checkbox"/> 加拿大</label>
                        <label class="cup"><input type="checkbox" checked/> 澳大利亚</label>
                        <label class="cup"><input type="checkbox"/> 新加坡</label>
                        <label class="cup"><input type="checkbox"/> 美国</label>
                        <label class="cup"><input type="checkbox"/> 香港</label>
                        <label class="cup"><input type="checkbox"/> 新西兰</label>
                        <label class="cup ml90"><input type="checkbox"/> 瓦努阿图</label>
                        <label class="cup"><input type="checkbox"/> 韩国</label>
                        <label class="cup"><input type="checkbox" checked/> 马来西亚</label>
                        <label class="cup"><input type="checkbox"/> 塞浦路斯</label>
                        <label class="cup"><input type="checkbox"/> 英国</label>
                        <label class="cup"><input type="checkbox"/> 安提瓜</label>
                        <label class="cup ml90"><input type="checkbox"/> 爱尔兰</label>
                        <label class="cup"><input type="checkbox"/> 泰国</label>
                        <label class="cup"><input type="checkbox"/> 匈牙利</label>
                        <label class="cup"><input type="checkbox" checked/> 拉脱维亚</label>
                        <label class="cup"><input type="checkbox"/> 法国</label>
                        <label class="cup"><input type="checkbox"/> 马耳他</label>
                        <label class="cup ml90"><input type="checkbox"/> 意大利</label>
                        <label class="cup"><input type="checkbox"/> 荷兰</label>
                        <label class="cup"><input type="checkbox"/> 圣基茨</label>
                        <label class="cup"><input type="checkbox"/> 葡萄牙</label>
                        <label class="cup"><input type="checkbox"/> 菲律宾</label>
                        <label class="cup"><input type="checkbox" checked/> 西班牙</label>
                    </div>
                </li>

                <li class="bo-line">
                    <span>公司地图：</span>
                    <input class="bg-2e c-w set-btn cup" type="button" value="设置"/>
                </li>

                <li>
                    <div>公司简介：</div>
                    <div class="row">
                        <script type="text/plain" id="kpc" style="width:100%;height:240px;">请填写您的个人简介</script>
                    </div>
                </li>
            </ul>

            <!--SEO设置-->
            <ul class="tab-box dn">
                <li class="ova fix">
                    <img src="" alt=""/>

                    <p class="pbc">标题（title）：网页标签通常是搜索引擎关注的重点，请填写：</p>
                    <input type="text" class="w99 h30 mt20 block"/>
                </li>
                <li class="ova fix">
                    <img src="" alt=""/>

                    <p class="pbc">关键词（keywords）：keywords项目出现在页面头部Meta标签中，用与记录关键字，多个关键字见用半角','隔开：</p>
                    <textarea class="w99 h150 mt20">
                    </textarea>
                </li>
                <li class="ova fix">
                    <img src="" alt=""/>

                    <p class="pbc">关键词（keywords）：keywords项目出现在页面头部Meta标签中，用与记录关键字，多个关键字见用半角','隔开：</p>
                    <textarea class="w99 h150 mt20">
                    </textarea>
                </li>
            </ul>

            <div class="tc mt20 pb20">
                <input type="submit" value="完成提交" class="submit-btn cup">
            </div>
        </div>
    </div>

    <!--右边栏-->
    <div class="right-bar mt40 ml20 fl">
        <!--热门项目-->
        <div class="block r-list">
            <h2 class="tit b bo-line">热门项目</h2>

            <ul>
                <li>
                    <a href="" class="db fix ova">
                        <img src="../../../images/item_pic.png" alt="" class="fl mr10">

                        <p>推荐项目推荐项目推荐</p>
                    </a>
                </li>
                <li>
                    <a href="" class="db fix ova">
                        <img src="../../../images/item_pic.png" alt="" class="fl mr10">

                        <p>推荐项目推荐项目推荐</p>
                    </a>
                </li>
                <li>
                    <a href="" class="db fix ova">
                        <img src="../../../images/item_pic.png" alt="" class="fl mr10">

                        <p>推荐项目推荐项目推荐</p>
                    </a>
                </li>
                <li>
                    <a href="" class="db fix ova">
                        <img src="../../../images/item_pic.png" alt="" class="fl mr10">

                        <p>推荐项目推荐项目推荐</p>
                    </a>
                </li>

            </ul>
        </div>
        <!--热门文章-->
        <div class="block r-list mt10">
            <h2 class="tit b bo-line">热门文章</h2>

            <ul>
                <li><a href="" title="" class="ell db"><span class="dib pr5 c-f5">1.</span>热门文章热门文章热门文章</a></li>
                <li><a href="" title="" class="ell db"><span class="dib pr5 c-f5">2.</span>热门文章热门文章热门文章</a></li>
                <li><a href="" title="" class="ell db"><span class="dib pr5 c-f5">3.</span>热门文章热门文章热门文章</a></li>
                <li><a href="" title="" class="ell db"><span class="dib pr5">4.</span>热门文章热门文章热门文章</a></li>
                <li><a href="" title="" class="ell db"><span class="dib pr5">5.</span>热门文章热门文章热门文章</a></li>
                <li><a href="" title="" class="ell db"><span class="dib pr5">6.</span>热门文章热门文章热门文章</a></li>
            </ul>
        </div>
        <!--广告-->
        <div class="ad mt10">
            <a href="" title="" class="db mb10" target="_blank"><img src="../../../images/ad1.png" alt=""></a>
            <a href="" title="" class="db mb10" target="_blank"><img src="../../../images/ad2.png" alt=""></a>
            <a href="" title="" class="db mb10" target="_blank"><img src="../../../images/ad3.png" alt=""></a>
        </div>
    </div>
</div>

<!--脚部-->
<div id="footer" class="mt30">
    <div class="footer-outer w100">
        <div class="footer-box com-width mao fix">
            <img class="footer-logo fl" src="../../../images/site_logo.png" alt="出国风">

            <div class="about-us fl fix">
                <ul class="fl mr35">
                    <li class="tit bo-line b">出国风特色</li>
                    <li><a href="" class="">产品与服务</a></li>
                </ul>
                <ul class="fl mr35">
                    <li class="tit bo-line b">帮助中心</li>
                    <li><a href="" class="">找回密码</a></li>
                    <li><a href="" class="">新手教程</a></li>
                    <li><a href="" class="">友情链接</a></li>
                </ul>
                <ul class="fl mr35">
                    <li class="tit bo-line b">关于我们</li>
                    <li><a href="" class="">出国风简介</a></li>
                    <li><a href="" class="">联系我们</a></li>
                    <li><a href="" class="">企业文化</a></li>
                    <li><a href="" class="">人才招聘</a></li>
                </ul>
                <ul class="fl mr35">
                    <li class="tit bo-line b">常见问题</li>
                    <li><a href="" class="">公司注册</a></li>
                    <li><a href="" class="">一键匹配</a></li>
                    <li><a href="" class="">点评报告</a></li>
                </ul>
                <ul class="fl service">
                    <li class="tit bo-line b">客服热线（工作时间 8:00 - 22:00）</li>
                    <li class="tel b">400&nbsp;&nbsp;9677&nbsp;&nbsp;360</li>
                    <li class="b">客服邮箱<a href="" class="b">KF@chuguofeng.com</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright tc com-width mao">
            Copyright 2014 www.chuguofeng.com All Rights Reserved <a href="http://www.miibeian.gov.cn/" target="_blank">粤ICP备14095256号</a>
            版权所有 深圳深海投网络科技有限公司
        </div>
    </div>
</div>

<script>
    $(function () {
        $(".r-arr").toggle(function () {
            $(this).find("i").css({
                "border-top": "6px solid transparent",
                "border-bottom": "6px solid  transparent",
                "border-left": "6px solid #c1c1c1",
                "top": "-6px"
            });
            $(this).parent().find("ul").slideUp();
        }, function () {
            $(this).find("i").css({
                "border-left": "6px solid transparent",
                "border-right": "6px solid  transparent",
                "border-top": "6px solid #c1c1c1",
                "top": "-5px"
            });
            $(this).parent().find("ul").slideDown();
        });


        $(".img-size,.upload-pic").mouseover(function () {
            $(".upload-pic").show();
        });

        $(".img-size,.upload-pic").mouseleave(function () {
            $(".upload-pic").hide();
        })
    });

    $(function () {
        tabSwitch(".tab li", "tab-selected", ".tab-box");

        $(".table tr").hover(function () {

            if ($(this).index() != 0) {
                $(this).animate({background: '#000'}, 300);
            }
        }, function () {
            $(this).animate({background: '#fff'}, 300);
        });
    });
</script>
</body>
</html>