<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>登录</title>
<link rel="stylesheet" type="text/css" href="../../../css/common.css">
<script src="../../../js/lab/jquery-1.8.3.min.js"></script>
<script src="../../../js/common.js"></script>
</head>

<body class="bg-fa">
    <!--头部-->
    <div id="header">
        <!--顶部栏-->
        <div class="top-bar com-width mao fix">
            <div class="left-area sns fl">
                关注我们
                <a href="" class="weibo dib vm mr10 ml10"></a>
                <a href="" class="weixin dib vm"></a>
            </div>
            <div class="right-area fr">
                <!--非登录-->
                <a href="" title="" class="dib">立即注册</a> |
                <a href="" title="" class="dib">登录</a>
                <!--登录-->
                <span class="dib">欢迎您：你妹啊</span> |
                <a href="" title="" class="dib mr35">进入个人中心</a>
                <a href="" title="" class="dib exit c-14">退出</a>
            </div>
        </div>
        <!--导航-->
        <div class="nav-outer w100">
            <div class="nav-box com-width mao fix">
                <a class="logo dib fl" href="http://www.chuguofeng.com"><img class="vm" src="../../../images/logo_w.png" alt="出国风"></a>
                <ul class="nav fix fl ml70">
                    <li><a href="" title="">首页</a></li>
                    <li><a href="" title="">精品项目</a></li>
                    <li><a href="" title="">移民公司</a></li>
                    <li><a href="" title="">移民招投标</a></li>
                    <li><a href="" title="">活动展会</a></li>
                </ul>
                <div class="fr rel">
                    <input class="search bgw" type="text" id="" value="" placeholder="搜索">
                    <i class="search-icon abs"></i>
                </div>
            </div>
        </div>
    </div>
    
    <!--主体-->
    <div id="login" class="fix com-width mao">
        <!--左边栏-->
        <div class="bg-w">
            <!--<h1 class="ac-tit pl10">欢迎入驻出国风</h1>-->
            <div class="login-box fix">
                <form action="" name="" method="post" id="login-form">
                    <div class="row fix">
                        <h1 class="tit fl">会员登录</h1><a class="fr reg-now c-2e" href="">马上注册</a>
                    </div>
                    <div class="row rel">
                        <i class="icon dib abs l-user"></i>
                        <input type="text" class="text-input" value="" placeholder="手机号码/邮箱">
                    </div>
                    <div class="row rel">
                        <i class="icon dib abs l-psw"></i>
                        <input type="password" class="text-input" value="" placeholder="密码">
                    </div>
                    <div class="row">
                        <label href="" class=""><input type="checkbox" class="mr5" value="" checked>自动登录</label>
                        <a href="" class="fr c-2e">找回密码</a>
                    </div>
                    <div class="row">
                        <button class="btn" type="submit">登录</button>
                    </div>
                    <!--使用sns登录-->
                        <!--<div class="row sns-login">
                            使用合作网站登录 
                            <a href="" title=""></a>
                            <a href="" title=""></a>
                        </div>-->
                </form>
            </div>
        </div>
    </div>
    
    <!--small 脚部 start-->
    <div id="small-footer" class="com-width mao tc mt30">
        <div class="link">
            <a href="" title="">关于我们</a>|
            <a href="" title="">出国风简介</a>|
            <a href="" title="">联系我们</a>|
            <a href="" title="">企业文化</a>|
            <a href="" title="">人才招聘</a>|
            <a href="" title="">产品与服务</a>|
            <a href="" title="">网站地图</a>
        </div>
        <div class="copyright">Copyright 2015 深圳深海投网络科技有限公司 </div>
    </div>
    <!--small 脚部 end-->
    
    <script>
        $(function(){

            
        });
    </script>
</body>
</html>